#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec="cd ~/Desktop/tests-raspberry && python gameOneProcess.py"
Name=ZETA TECH
Comment=comment here
Icon=images/icon.png
